<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/save" method="post">
        <label for="frstname">firstname</label>
        <input type="text" name="firstname" placeholder="firstname" required>
        <br>
        <label for="lastname">lastname</label>
        <input type="text" name="lastname" placeholder="lastname" required>
        <br>
        <label for="middlename">middlename</label>
        <input type="text" name="middlename" placeholder="middlename" required>
        <br>
        <label for="birthdate">Birthday</label>
        <input type="date" name="birthdate">
        <br>
        <label for="address">address</label>
        <input type="text" name="address" placeholder="address" required>
        <br>
        <input type="submit" name="submit">
    </form>
    <a href="/display">Click to see table</a>
    
   
</body>
</html>
